*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff;
}


.quizbutton{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    margin: 10px;
}

#startButton{
    display:flex;
    color: #000000;
    padding: 10px;
    background-color: rgb(210, 44, 210);
    border-radius: 10px;
}

#startButton:hover{
    opacity: 80%;
}

#scores{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
    background-color:rgb(210, 44, 210);
    padding: 10px;
    border-radius: 10px;
    
}

#scores:hover{
    opacity: 80%;
    cursor: pointer;
}

#time{
    font-size: 150%;
    margin-top: 100px;
    margin-right: 10px;
}

#startingPage {
    margin: 20px;
    padding: 30px;
    border: solid 3px; 
    
}

#quizcontainer {
    display: flex;
    flex-direction: column; 
    align-items: center;
    font-size: 30px;
    text-align: center;
}

#quizBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 3px;
    padding: 20px;
    margin: 20px;
}

#a, #b, #c, #d{
    color: #000000;
    background-color: rgb(174, 39, 174); 
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#questionTitle{
    font-size: 20px;
}

.hide {
    display: none;
}
