*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff;
}


.quizbutton{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    margin: 10px;
}

#startButton{
    display:flex;
    color: #000000;
    padding: 10px;
    background-color: rgb(210, 44, 210);
}

#startButton:hover{
    opacity: 80%;
}

#scores{
    margin-top: 20px;
    margin-left: 20px;
    background-color:rgb(210, 44, 210);
    padding: 10px;
}

#scores:hover{
    opacity: 80%;
}

#time{
    font-size: 150%;
    margin-top: 100px;
    margin-right: 10px;
}

#startpage {
    margin: 20px;
    padding: 30px;
    border: solid 3px; 
    
}

#quizcontainer {
    display: flex;
    flex-direction: column; 
    align-items: center;
    font-size: 30px;
    text-align: center;
}

#quizQuestions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}